In [37]:
import numpy as np
import pandas as pd
import geopandas as gpd
from tqdm.notebook import tqdm

In [38]:
npzfile = np.load(r"C:\Users\nelek\OneDrive\Dokumente\Uni\Master\3. Semester\GIS\Project\Datasets\final datasets\newest_datasets\final2.npz", allow_pickle=True)
sorted(npzfile.files)

['g_new', 'k_new']

In [39]:
k = gpd.GeoDataFrame(npzfile['k_new'])
g = gpd.GeoDataFrame(npzfile['g_new'])

In [40]:
k.head()

,0,1,2,3,4,5,6,7,8
0,node/25236153,kindergarten,Kindertagesstätte Pittiplatsch,POINT (8.408166 48.9990095),"POLYGON ((8.47646568768768 48.999960584207514,...",7008,79217,"[1kmN2872E4202, 1kmN2872E4203, 1kmN2872E4204, ...",3732
1,node/25243038,kindergarten,Kindergarten,POINT (8.3775383 48.9866583),"POLYGON ((8.44582045149461 48.98762805143764, ...",6625,70537,"[1kmN2871E4199, 1kmN2871E4200, 1kmN2871E4201, ...",3525
2,node/29793990,kindergarten,AWO-Kindertagesstätte Wiesenzwerg,POINT (8.4021161 48.950102),"POLYGON ((8.47034821931641 48.951056654693, 8....",6453,70809,"[1kmN2867E4200, 1kmN2867E4201, 1kmN2867E4202, ...",3432
3,node/98071320,kindergarten,Kindertagesstätte Bernstein,POINT (8.3534473 48.9972188),"POLYGON ((8.421743649452505 48.99820328646579,...",5500,60294,"[1kmN2872E4198, 1kmN2872E4199, 1kmN2872E4200, ...",2927
4,node/107597357,kindergarten,Birkenweg,POINT (9.1015731 49.0058331),"POLYGON ((9.1698905209095 49.006360828182586, ...",4090,36503,"[1kmN2872E4252, 1kmN2872E4253, 1kmN2872E4254, ...",2185

In [41]:
g.head()

,0,1,2,3,4,5,6
0,1kmN2716E4145,3.0,14.0,"POLYGON ((7.663719693864143 47.53261655813929,...",1,[node/1614778817],2
1,1kmN2716E4146,52.0,351.0,"POLYGON ((7.67698629753508 47.53289976544496, ...",2,"[node/1614778817, way/148502012]",28
2,1kmN2716E4147,31.0,161.0,POLYGON ((7.690253032985579 47.533181360536325...,0,[],17
3,1kmN2716E4148,21.0,109.0,POLYGON ((7.703519899466106 47.533461343387664...,3,"[node/309885883, way/126171180, way/126171181]",12
4,1kmN2717E4143,0.0,0.0,"POLYGON ((7.636775731986376 47.54104043694109,...",4,"[way/102724057, way/107104065, way/107106174, ...",0

In [42]:
# rename the columns (headers are lost because of the file format)
k.set_axis(["id_kindergarten", "amenity", "name", "geometry", "buffer", "sum_children_under_10", "sum_total_population", "grid_cell_IDs_in_buffer", "sum_children_kiga_age"], axis='columns', inplace=True)

# ALTER_10JG --> now: nr_children_under_10
# INSGESAMT --> now: total_population
g.set_axis(["ID_1km", "nr_children_under_10", "total_population", "geometry", "nr_kiga_in_reach", "kiga_IDs_in_reach", "nr_children_kiga_age"], axis='columns', inplace=True)

In [43]:
#drop duplicate rows
k = k.drop_duplicates(subset=['id_kindergarten'])

g = g.drop_duplicates(subset=['ID_1km'])

In [44]:
k.head()

,id_kindergarten,amenity,name,geometry,buffer,sum_children_under_10,sum_total_population,grid_cell_IDs_in_buffer,sum_children_kiga_age
0,node/25236153,kindergarten,Kindertagesstätte Pittiplatsch,POINT (8.40817 48.99901),"POLYGON ((8.47646568768768 48.999960584207514,...",7008,79217,"[1kmN2872E4202, 1kmN2872E4203, 1kmN2872E4204, ...",3732
1,node/25243038,kindergarten,Kindergarten,POINT (8.37754 48.98666),"POLYGON ((8.44582045149461 48.98762805143764, ...",6625,70537,"[1kmN2871E4199, 1kmN2871E4200, 1kmN2871E4201, ...",3525
2,node/29793990,kindergarten,AWO-Kindertagesstätte Wiesenzwerg,POINT (8.40212 48.95010),"POLYGON ((8.47034821931641 48.951056654693, 8....",6453,70809,"[1kmN2867E4200, 1kmN2867E4201, 1kmN2867E4202, ...",3432
3,node/98071320,kindergarten,Kindertagesstätte Bernstein,POINT (8.35345 48.99722),"POLYGON ((8.421743649452505 48.99820328646579,...",5500,60294,"[1kmN2872E4198, 1kmN2872E4199, 1kmN2872E4200, ...",2927
4,node/107597357,kindergarten,Birkenweg,POINT (9.10157 49.00583),"POLYGON ((9.1698905209095 49.006360828182586, ...",4090,36503,"[1kmN2872E4252, 1kmN2872E4253, 1kmN2872E4254, ...",2185

In [45]:
g.head()

,ID_1km,nr_children_under_10,total_population,geometry,nr_kiga_in_reach,kiga_IDs_in_reach,nr_children_kiga_age
0,1kmN2716E4145,3.0,14.0,"POLYGON ((7.66372 47.53262, 7.66331 47.54161, ...",1,[node/1614778817],2
1,1kmN2716E4146,52.0,351.0,"POLYGON ((7.67699 47.53290, 7.67658 47.54190, ...",2,"[node/1614778817, way/148502012]",28
2,1kmN2716E4147,31.0,161.0,"POLYGON ((7.69025 47.53318, 7.68985 47.54218, ...",0,[],17
3,1kmN2716E4148,21.0,109.0,"POLYGON ((7.70352 47.53346, 7.70312 47.54246, ...",3,"[node/309885883, way/126171180, way/126171181]",12
4,1kmN2717E4143,0.0,0.0,"POLYGON ((7.63678 47.54104, 7.63636 47.55004, ...",4,"[way/102724057, way/107104065, way/107106174, ...",0

In [46]:
# for each gridcell, calculate the number of children in kindergarten-age (nr_children_kiga_age) per number of kindergartens in reach of this gridcell (nr_kiga_in_reach)
# This way, we later only count every child once!
for index, row in tqdm(g.iterrows(), total = len(g)):

    if row["nr_kiga_in_reach"] == 0:
        continue
    else:
        g.loc[index, "nr_children_kiga_age/nr_kiga_in_reach"] = g.loc[index, "nr_children_kiga_age"]/g.loc[index, "nr_kiga_in_reach"]

  0%|          | 0/36424 [00:00<?, ?it/s]

In [47]:
g.head()

,ID_1km,nr_children_under_10,total_population,geometry,nr_kiga_in_reach,kiga_IDs_in_reach,nr_children_kiga_age,nr_children_kiga_age/nr_kiga_in_reach
0,1kmN2716E4145,3.0,14.0,"POLYGON ((7.66372 47.53262, 7.66331 47.54161, ...",1,[node/1614778817],2,2.0
1,1kmN2716E4146,52.0,351.0,"POLYGON ((7.67699 47.53290, 7.67658 47.54190, ...",2,"[node/1614778817, way/148502012]",28,14.0
2,1kmN2716E4147,31.0,161.0,"POLYGON ((7.69025 47.53318, 7.68985 47.54218, ...",0,[],17,NaN
3,1kmN2716E4148,21.0,109.0,"POLYGON ((7.70352 47.53346, 7.70312 47.54246, ...",3,"[node/309885883, way/126171180, way/126171181]",12,4.0
4,1kmN2717E4143,0.0,0.0,"POLYGON ((7.63678 47.54104, 7.63636 47.55004, ...",4,"[way/102724057, way/107104065, way/107106174, ...",0,0.0

In [48]:
# calculate the amount of children for each kindergarten (sum_children_kiga_age_new)
# We therefore sum of the column "nr_children_kiga_age/nr_kiga_in_reach" of all grid cells that lie in the buffer of a kindergarten

def childsum_per_kiga(dfa, dfb):
    df1 = dfa.copy() # kindergartens
    df2 = dfb.copy() # gridcells

    df1["sum_children_kiga_age_new"] = 0
    df1["occupancy_rate"] = 0

    for index, row in tqdm(df1.iterrows(), total = len(df1)):

        # calculate the amount of children for each kindergarten (sum_children_kiga_age_new)
        for i in range(len(row["grid_cell_IDs_in_buffer"])):

                id = row["grid_cell_IDs_in_buffer"][i]
                
                nr_children = (df2.loc[df2['ID_1km'] == id]["nr_children_kiga_age/nr_kiga_in_reach"])

                df1.loc[index, "sum_children_kiga_age_new"] = (df1.loc[index, "sum_children_kiga_age_new"]) + int(nr_children)

        # calculate the occupancy rate for each kindergarten --> divided by 51 (average number of kindergarten places)
        df1.loc[index, "occupancy_rate"] = df1.loc[index, "sum_children_kiga_age_new"]/51

    return df1, df2

In [49]:
k_term, g_term = childsum_per_kiga(k, g)

  0%|          | 0/6173 [00:00<?, ?it/s]

In [54]:
k_term.head()

,0,1,2,3,4,5,6,7,8,9,10
0,node/25236153,kindergarten,Kindertagesstätte Pittiplatsch,POINT (8.408166 48.9990095),"POLYGON ((8.47646568768768 48.999960584207514,...",7008,79217,"[1kmN2872E4202, 1kmN2872E4203, 1kmN2872E4204, ...",3732,87,1.705882
1,node/25243038,kindergarten,Kindergarten,POINT (8.3775383 48.9866583),"POLYGON ((8.44582045149461 48.98762805143764, ...",6625,70537,"[1kmN2871E4199, 1kmN2871E4200, 1kmN2871E4201, ...",3525,121,2.372549
2,node/29793990,kindergarten,AWO-Kindertagesstätte Wiesenzwerg,POINT (8.4021161 48.950102),"POLYGON ((8.47034821931641 48.951056654693, 8....",6453,70809,"[1kmN2867E4200, 1kmN2867E4201, 1kmN2867E4202, ...",3432,120,2.352941
3,node/98071320,kindergarten,Kindertagesstätte Bernstein,POINT (8.3534473 48.9972188),"POLYGON ((8.421743649452505 48.99820328646579,...",5500,60294,"[1kmN2872E4198, 1kmN2872E4199, 1kmN2872E4200, ...",2927,81,1.588235
4,node/107597357,kindergarten,Birkenweg,POINT (9.1015731 49.0058331),"POLYGON ((9.1698905209095 49.006360828182586, ...",4090,36503,"[1kmN2872E4252, 1kmN2872E4253, 1kmN2872E4254, ...",2185,121,2.372549

In [50]:
np.savez(r'C:\Users\nelek\OneDrive\Dokumente\Uni\Master\3. Semester\GIS\Project\Datasets\final datasets\term_datasets.npz', k_term = k_term, g_term = g_term)

In [51]:
npzfile = np.load(r"C:\Users\nelek\OneDrive\Dokumente\Uni\Master\3. Semester\GIS\Project\Datasets\final datasets\newest_datasets\term_datasets.npz", allow_pickle=True)
sorted(npzfile.files)

['g_term', 'k_term']

In [52]:
k_term = gpd.GeoDataFrame(npzfile['k_term'])
g_term = gpd.GeoDataFrame(npzfile['g_term'])

In [56]:
# rename the columns (headers are lost because of the file format)

k_term.set_axis(["id_kindergarten", "amenity", "name", "geometry", "buffer", "sum_children_under_10", "sum_total_population", "grid_cell_IDs_in_buffer", "sum_children_kiga_age", "sum_children_kiga_age_new", "occupancy_rate"], axis='columns', inplace=True)

g_term.set_axis(["ID_1km", "nr_children_under_10", "total_population", "geometry", "nr_kiga_in_reach", "kiga_IDs_in_reach", "nr_children_kiga_age", "nr_children_kiga_age/nr_kiga_in_reach"], axis='columns', inplace=True)

In [57]:
k_term.head()

,id_kindergarten,amenity,name,geometry,buffer,sum_children_under_10,sum_total_population,grid_cell_IDs_in_buffer,sum_children_kiga_age,sum_children_kiga_age_new,occupancy_rate
0,node/25236153,kindergarten,Kindertagesstätte Pittiplatsch,POINT (8.40817 48.99901),"POLYGON ((8.47646568768768 48.999960584207514,...",7008,79217,"[1kmN2872E4202, 1kmN2872E4203, 1kmN2872E4204, ...",3732,87,1.705882
1,node/25243038,kindergarten,Kindergarten,POINT (8.37754 48.98666),"POLYGON ((8.44582045149461 48.98762805143764, ...",6625,70537,"[1kmN2871E4199, 1kmN2871E4200, 1kmN2871E4201, ...",3525,121,2.372549
2,node/29793990,kindergarten,AWO-Kindertagesstätte Wiesenzwerg,POINT (8.40212 48.95010),"POLYGON ((8.47034821931641 48.951056654693, 8....",6453,70809,"[1kmN2867E4200, 1kmN2867E4201, 1kmN2867E4202, ...",3432,120,2.352941
3,node/98071320,kindergarten,Kindertagesstätte Bernstein,POINT (8.35345 48.99722),"POLYGON ((8.421743649452505 48.99820328646579,...",5500,60294,"[1kmN2872E4198, 1kmN2872E4199, 1kmN2872E4200, ...",2927,81,1.588235
4,node/107597357,kindergarten,Birkenweg,POINT (9.10157 49.00583),"POLYGON ((9.1698905209095 49.006360828182586, ...",4090,36503,"[1kmN2872E4252, 1kmN2872E4253, 1kmN2872E4254, ...",2185,121,2.372549

In [17]:
l = float(k_term.loc[1, "occupancy_rate"])
type(l)

float

In [18]:
g_term.head()

,ID_1km,nr_children_under_10,total_population,geometry,nr_kiga_in_reach,kiga_IDs_in_reach,nr_children_kiga_age,nr_children_kiga_age/nr_kiga_in_reach
0,1kmN2716E4145,3.0,14.0,"POLYGON ((7.66372 47.53262, 7.66331 47.54161, ...",1,[node/1614778817],2,2.0
1,1kmN2716E4146,52.0,351.0,"POLYGON ((7.67699 47.53290, 7.67658 47.54190, ...",2,"[node/1614778817, way/148502012]",28,14.0
2,1kmN2716E4147,31.0,161.0,"POLYGON ((7.69025 47.53318, 7.68985 47.54218, ...",0,[],17,NaN
3,1kmN2716E4148,21.0,109.0,"POLYGON ((7.70352 47.53346, 7.70312 47.54246, ...",3,"[node/309885883, way/126171180, way/126171181]",12,4.0
4,1kmN2717E4143,0.0,0.0,"POLYGON ((7.63678 47.54104, 7.63636 47.55004, ...",4,"[way/102724057, way/107104065, way/107106174, ...",0,0.0

In [98]:
# calculate the average of the kindergarten occupation rate for each gridcell
def coverage_index(dfa, dfb):
    df1 = dfa.copy() # kindergartens
    df2 = dfb.copy() # gridcells

    df1 = df1.drop_duplicates(subset = ["id_kindergarten"])

    df2["avg_kiga_occupation"] = 0
    df2["childcare_index"] = None
    df2["sum_occupancy"] = 0

    for index1, row1 in tqdm(df2.iterrows(), total = len(df2)):

        if (row1["total_population"] == 0): 
            # 0 = no population in this grid
            df2.loc[index1,"childcare_index"] = 0
            continue

        if ((row1["nr_kiga_in_reach"] == 0) and ((row1["total_population"] == 0) or (row1["nr_children_kiga_age"] == 0))):
            # 0 = no kindergartens in reach & no children (or no population)
            df2.loc[index1,"childcare_index"] = 0
            continue

        if ((row1["nr_children_kiga_age"] > 0) and (row1["nr_kiga_in_reach"] == 0)):
            # 1 = no coverage (children in the grid-cell, but no kindergarten in reach)
            df2.loc[index1, "childcare_index"] = 1
            continue
        
        # calculate the average kindergarten occupancy rate
        for i in range(len(row1["kiga_IDs_in_reach"])):

            id = row1["kiga_IDs_in_reach"][i]
            
            df2.loc[index1, "sum_occupancy"] += float(df1.loc[df1['id_kindergarten'] == id]["occupancy_rate"]) # wird immer als Serie zurückgegeben! Warum? -> keine doppelten ids

        df2.loc[index1, "avg_kiga_occupation"] = float(df2.loc[index1, "sum_occupancy"]) / row1["nr_kiga_in_reach"]

        # 2 = slightly insufficient coverage (kindergarten in reach, but too many children for the kindergarten-places available in the buffers of the kindergartens in reach)
        # 1 < avg_kiga_occupation < 1.2 --> ca. 10 children more than the kindergarten can occupy
        if ((row1["nr_kiga_in_reach"] > 0) and (df2.loc[index1, "avg_kiga_occupation"] > 1)):
            df2.loc[index1, "childcare_index"] = 2

        # 3 = sufficient coverage (1 kindergarten in reach & enough kindergarten places available in the buffer)
        if ((row1["nr_kiga_in_reach"] == 1) and (df2.loc[index1, "avg_kiga_occupation"] <= 1)):
            df2.loc[index1, "childcare_index"] = 3

        #4 = good coverage (multiple kindergartens in reach & enough kindergarten places available in the buffer )
        if ((row1["nr_kiga_in_reach"] > 1) and (df2.loc[index1, "avg_kiga_occupation"] <= 1)):
            df2.loc[index1, "childcare_index"] = 4

    return df1, df2

In [111]:
k_new, g_new = coverage_index(k_term, g_term)

  0%|          | 0/36424 [00:00<?, ?it/s]

In [117]:
np.savez(r'C:\Users\nelek\OneDrive\Dokumente\Uni\Master\3. Semester\GIS\Project\Datasets\final datasets\newest_datasets\data_index.npz', k_index = k_new, g_index = g_new)

In [141]:
npzfile = np.load(r"C:\Users\nelek\OneDrive\Dokumente\Uni\Master\3. Semester\GIS\Project\Datasets\final datasets\newest_datasets\data_index.npz", allow_pickle=True)
sorted(npzfile.files)

['g_index', 'k_index']

In [142]:
k_index = gpd.GeoDataFrame(npzfile['k_index'])
g_index = gpd.GeoDataFrame(npzfile['g_index'])

In [143]:
# rename the columns (headers are lost because of the file format)

k_index.set_axis(["id_kindergarten", "amenity", "name", "geometry", "buffer", "sum_children_under_10", "sum_total_population", "grid_cell_IDs_in_buffer", "sum_children_kiga_age", "sum_children_kiga_age_new", "occupancy_rate"], axis='columns', inplace=True)

g_index.set_axis(["ID_1km", "nr_children_under_10", "total_population", "geometry", "nr_kiga_in_reach", "kiga_IDs_in_reach", "nr_children_kiga_age", "nr_children_kiga_age/nr_kiga_in_reach", "avg_kiga_occupation", "childcare_index", "sum_occupancy"], axis='columns', inplace=True)

In [144]:
for index, row in tqdm(g_index.iterrows(), total = len(g_index)):
    # medium insufficient coverage
    # 1.2 < avg_kiga_occupation < 2.0 --> ca. double the amount of children than the kindergarten can occupy
    if (row["childcare_index"] == 2) and (row["avg_kiga_occupation"] >= 1.2) and (row["avg_kiga_occupation"] < 2.0):
        g_index.loc[index, "childcare_index"] = 5

    # strong insufficient coverage
    # avg_kiga_occupation > 2.0 --> more than double the amount of children than the kindergarten can occupy
    if (row["childcare_index"] == 2) and (row["avg_kiga_occupation"] > 2.0):
        g_index.loc[index, "childcare_index"] = 6

  0%|          | 0/36424 [00:00<?, ?it/s]

In [145]:
# rearrange the index values so it is a locigal scale (the higher the score, the better the kindergarten supply in each grid cell):

#   0 = no kindergartens in reach & no children (or no population)
#   1 = no kindergarten coverage (children in the grid-cell, but no kindergarten in reach)
#   2 = strongly overcrowded kindergartens (more than double the amount of children than the kindergartens in reach can occupy)
#   3 = medium overcrowded kindergartens (ca. double the amount of children than the kindergartens in reach can occupy)
#   4 = slightly overcrowded kindergartens (ca. 10 children more than the kindergartens in reach can occupy)
#   5 = sufficient kindergarten supply (1 kindergarten in reach & enough kindergarten places available in the buffer)
#   6 = good kindergarten supply (multiple kindergartens in reach & enough kindergarten places available in the buffer)

g = g_index.copy()

for index, row in tqdm(g.iterrows(), total = len(g)):
    if row["childcare_index"] == 2:
        g.loc[index, "childcare_index"] = 4

    if row["childcare_index"] == 3:
        g.loc[index, "childcare_index"] = 5

    if row["childcare_index"] == 4:
        g.loc[index, "childcare_index"] = 6

    if row["childcare_index"] == 5:
        g.loc[index, "childcare_index"] = 3

    if row["childcare_index"] == 6:
        g.loc[index, "childcare_index"] = 2

  0%|          | 0/36424 [00:00<?, ?it/s]

In [146]:
g["childcare_index"].value_counts()

2    16299
0    12214
3     4870
1     2207
4      398
6      316
5      120
Name: childcare_index, dtype: int64

In [149]:
# export the dataset
np.savez(r'C:\Users\nelek\OneDrive\Dokumente\Uni\Master\3. Semester\GIS\Project\Datasets\final datasets\newest_datasets\final_dataset_GIS.npz', kindergartens = k_index, gridCells = g)